<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/BD_Telepeaje</property>
		<property name="connection.username">root</property>
		<property name="connection.password">3428</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<!-- en true muestra hql en consola -->
		<!--Mapeo Entidades -->
		<mapping resource="mapeos/Abonado.hbm.xml" />
		<mapping resource="mapeos/Peaje.hbm.xml" />
		<mapping resource="mapeos/Rodado.hbm.xml" />


	</session-factory>
</hibernate-configuration>